{% extends "oscar/layout.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre Franklin:300,400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans:300,400,500,600,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css"
          integrity="sha512-gRH0EcIcYBFkQTnbpO8k0WlsD20x5VzjhOA1Og8+ZUAhcMUCvd+APD35FJw3GzHAP3e+mP28YcDJxVr745loHw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
	<link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'img/favicon/favicon.ico' %}">
	<link rel="icon" type="image/png" sizes="196x196" href="{% static 'img/favicon/favicon-192.png' %}">
	<link rel="icon" type="image/png" sizes="160x160" href="{% static 'img/favicon/favicon-160.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96.png' %}">
	<link rel="icon" type="image/png" sizes="64x64" href="{% static 'img/favicon/favicon-64.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16.png' %}">
	<link rel="apple-touch-icon" href="{% static 'img/favicon/favicon-57.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/favicon-114.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/favicon-72.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/favicon-144.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/favicon-60.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/favicon-120.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/favicon-76.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/favicon-152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/favicon-180.png' %}">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="{% static 'img/favicon/favicon-144.png' %}">
	<meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <meta name="color-scheme" content=" dark only">
    <link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}

    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header class="header container">
        <div class="page_inner pl-0 pt-2 pb-0">
            <div class="row justify-content-between">
                {% include "oscar/partials/brand.html" %}
                {# Mini-basket wrapped in a block so some templates can now display it #}
                {% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}{% endblock %}
            </div>
        </div>
        {% block navigation %}
            {% include "oscar/partials/nav_primary.html" %}
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <div class="container page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "oscar/partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% include "oscar/partials/footer.html" %}
{% endblock %}