.navbar.navbar-accounts .navbar-brand {
    background: url("/static/img/logo-white-text.png") no-repeat scroll 0 0 transparent;
    text-indent: -9999px;
    display: block;
    width: 120px;
    height:  60px;
    padding: 0;
    margin: 0.5rem;
    background-size: cover;
}