{% extends "oscar/dashboard/base.html" %}

{% block extrahead %}
    {{ block.super }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% load static %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static "img/favicon/favicon.ico" %}" />
{% endblock %}
