{% extends 'oscar/catalogue/detail.html' %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url "catalogue:index" %} ">{% trans "All products" %}</a></li>
            {% with category=product.get_categories.first %}
{#                {% for c in category.get_ancestors_and_self %}#}
{#                    <li class="breadcrumb-item"><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>#}
{#                {% endfor %}#}
                <li class="breadcrumb-item active" aria-current="page">{{ product.get_title }}</li>

                {% get_back_button as backbutton %}
                    {% if backbutton %}
                        <li class="ml-auto">
                            <a href="{{ backbutton.url }}">
                                <i class="fas fa-arrow-left"></i> {{ backbutton.title }}
                            </a>
                        </li>
                    {% endif %}
            {% endwith %}
        </ol>
    </nav>
{% endblock %}

{% block product_main %}
        <div class="col-sm-6 product_main">
            {% comment %}
                This is a bit clunky here.  Better to have some kind of JS-driven dashboard menu that
                pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_staff %}
                <a class="float-right d-none d-md-block" href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                    <small><i class="fas fa-pencil-alt"></i> {% trans "Edit this product" %}</small>
                </a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>

            {% block product_stock_record %}
                {% include "oscar/catalogue/partials/stock_record.html" with verbose=0 %}
            {% endblock %}

            {% iffeature "reviews" %}
                {% include "oscar/catalogue/reviews/partials/review_stars.html" %}
            {% endiffeature %}

            <hr/>

            {% if product.description %}
                <h4>Product description</h4>
                {{ product.description|safe }}
            {% endif %}

            {% if not product.is_parent %}
                {% block product_basket_form %}
                    {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
                {% endblock %}
            {% else %}
                {% block variants %}
                    <h2>{% trans 'Variants:' %}</h2>
                    {% for child in product.children.public %}
                        {% purchase_info_for_product request child as child_session %}
                        {% if child_session.availability.is_available_to_buy %}
                            <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
        </div><!-- /col-sm-6 -->
        {% endblock %}

{% block product_info %}{% endblock %}

{% block product_description %}
{% endblock %}