{% extends "oscar/dashboard/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Export Orders" %}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:order-list' %}">{% trans "Orders" %}</a></li>
                    <li class="breadcrumb-item active">{% trans "Export Orders" %}</li>
                </ol>
    </nav>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3>{% trans "Export Orders" %}</h3>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans "Export" %}</button>
      </form>
    </div>
  </div>
{% endblock %}
