{% extends "oscar/basket/basket.html" %}
{% load shop_extras %}

{% block content %}
    <style>
        #shippingAlert p {
            margin-bottom: 0;
        }
    </style>
    {% autoescape off %}
    <div class="alert alert-info mt-0" id="shippingAlert">{% get_active_shipping_methods %}</div>
    {% endautoescape %}
    {{ block.super }}
{% endblock content %}

{% block extrastyles %}
<style>
    h1, .h1 {
        size: 2.5rem;
    }

    .sub-header h2, .h2 {
        font-size: 1.5rem;
    }

    h3, .h3 {
        font-size: 1.25rem;
    }

    #basket_totals h3 {
        margin-bottom: 0;
    }

    h4, .h4 {
        font-size: 1.1rem;
    }
</style>
{% endblock %}